.column {
  position: relative;
  padding: 10px 50px 10px 4px;
}

.content {
  color: rgb(250 250 250 / 100%);
  text-align: left;
}

.one-line {
  display: -webkit-box;
  max-height: var(--graphics-size-3xl);
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
