.last-thead {
  right: -2px;
}

.resizer {
  position: absolute;
  top: 50%;
  right: -6px;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 6px;
  height: 60%;
  transform: translate(-50%, -50%);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.trigger {
  width: 1px;
  background-color: rgb(255 255 255 / 20%);
}
