.td {
  overflow: hidden;
  padding: 8px 16px;
}

.drag-row {
  display: flex;
  align-items: center;
  right: 0;
  justify-content: center;
}

.sticky {
  position: sticky;
  background-color: white;
  top: 0;
}

.sticky-left {
  border-right: 1px solid rgba(0, 65, 102, 0.2);
  box-shadow: 2px 0 6px 0 rgba(156,156,156,0.62);
  left: 0;
}

.sticky-right {
  right: 0;
  box-shadow: -2px 0 6px 0 rgba(156,156,156,0.62);
}

