.text-right {
  text-align: right;
}

.link {
  text-decoration: none;
}


.present-cell {
  padding-top: var(--space-s);
}

.disabled  {
  height: 100%;
  background-color: var(--color-deleted-row);
}

.collapse-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.button-collapse {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
}

.icon svg {
  fill: #00203359 !important;
}

.wrapper-content {
  display: flex;
  align-items: center;
  gap: 6px;
}

.align {
  display: flex;
  justify-content: end;
}
