* {
  box-sizing: border-box;
}

table,
tbody,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

th {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  border-right: 1px solid rgba(255, 255, 255, .2);
}

td {
  border-right: 1px solid rgb(0 65 102 / 20%);
  border-bottom: 1px solid rgb(0 65 102 / 20%);

  &:last-child {
    border-right: none;
  }
}



table,
.divTable {
  width: fit-content;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
}

