.wrapper {
  display: flex;
  flex:  1 1 auto;

  &-table {
    position: relative;
    flex: 1 1 auto;
    min-height: 144px;
    overflow: auto scroll;
    background-color: white;
  }
}

.border-bottom {
  border-bottom: var(--control-border-width) solid var(--color-bg-border);
}

.table {
  position: absolute;
  top: 0;
  width: 100%;
  border-spacing: 0;
}

.thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgb(0,113,178);
}

.additional-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(0,113,178);
}

